<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Guilherme Groff, Victor Scalco">

<title>Vanilla Unicorn - Home</title>

<link rel="icon" href="/images/icon.jpeg">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/dashboard.css">

<link rel="preconnect" href="https://fonts.gstatic.com">

<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
	rel="stylesheet">

<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
	
<script type="text/javascript" th:inline="javascript">
	//Load the Visualization API and the corechart package.
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart_consumo); // Carrega o grafico de consumo no periodo
	google.charts.setOnLoadCallback(drawChart_uso); // Carrega o grafico de tempo de uso

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart_consumo() {

		// Create the data table.
		var data = new google.visualization.arrayToDataTable(
				/*[[${dadosGraficoConsumo}]]*/ );

		// Set chart options
		var options = {
			'title':"Consumo no periodo",
			series: {
				0:{targetAxisIndex: 0},
				1:{targetAxisIndex: 1}
			},
			vAxes: {
				0: {title: 'Energia (kW/h)'},
				1: {title: 'Água (L)'}
			},
            height:500
		};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_1'));
		chart.draw(data, options);

	}
	
	function drawChart_uso() {

		// Create the data table.
		var data = new google.visualization.arrayToDataTable(
				/*[[${dadosGraficoUso}]]*/ );

		// Set chart options
		var options = {
			'title':"Tempo de uso no periodo (minutos)",
			pointSize: 5,
            height:500
		};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.LineChart(document.getElementById('chart_div_2'));
		chart.draw(data, options);

	feather.replace()
	}
	
</script>

</head>
<body>
	<header
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Vanilla Unicorn</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed"
			type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
			aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<form class="d-flex" action="home" method="post"
			th:object="${datas}">
			<label>Data inicial</label>
			<input type="date" th:field="*{dataInicial}">
			<label>Data final</label>
			<input type="date" th:field="*{dataFinal}">
			<input class="btn btn-outline-success" type="submit" value="Buscar">
		</form>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" href="/logout">Sair <span data-feather="log-out"></span></a>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home">
								<span data-feather="home"></span>Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/comparar">
								<span data-feather="search"></span>Comparar Periodos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="info"></span>Dicas Economia
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/configuracao">
								<span data-feather="file-text"></span>Configurações
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Consulta Consumo</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<a type="button" class="btn btn-sm btn-outline-secondary" href="/download"> <span data-feather="download"></span> Exportar</a>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<div class="my-4 w-100 col-md" id="chart_div_1"></div>
					<div class="my-4 w-100 col-md" id="chart_div_2"></div>
				</div>

				<h2>Relatório Detalhado</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th scope="col">Data</th>
								<th scope="col">Água (L)</th>
								<th scope="col">Energia (kW/h)</th>
								<th scope="col">Tempo Real de Uso</th>
								<th scope="col">Meta Tempo de Uso</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="linha : ${dadosRelatorio}">
								<td th:text="${linha.data}"></td>
								<td th:text="${linha.agua}"></td>
								<td th:text="${linha.energia}"></td>
								<td th:text="${linha.tempoUso}"></td>
								<td th:text="${linha.tempoMeta}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>

<script th:inline="javascript"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	
<script th:inline="javascript"
	src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
	integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" 
	crossorigin="anonymous"></script>
	
<script th:inline="javascript"
	src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
	integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
	crossorigin="anonymous"></script>
	
</body>


</html>