<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Guilherme Groff, Victor Scalco">

<title>Vanilla Unicorn - Dados Conta</title>

<link rel="icon" href="/images/icon.jpeg">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/dashboard.css">

<link rel="preconnect" href="https://fonts.gstatic.com">

<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
	rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<script th:inline="javascript"
		src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
		integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
		crossorigin="anonymous"></script>

<script type="text/javascript">
	feather.replace()
</script>

</head>
<body>
	<header
		class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Vanilla
			Unicorn</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed"
			type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
			aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" href="/logout">Sair <span data-feather="log-out"></span></a>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/home">
								<span data-feather="home"></span>Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"href="/comparar">
								<span data-feather="search"></span>Comparar Periodos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="info"></span>Dicas Economia
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" aria-current="page" href="/configuracao">
								<span data-feather="file-text"></span>Configurações
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="py-5 text-center">
					<h2>Dados Conta</h2>
				</div>

				<div class="row g-5">
					<div class="">
						<form class="needs-validation" novalidate th:object="${usuario}"
							method="post" action="/configuracao">
							<div class="row g-3">
								<div class="">
									<label for="firstName" class="form-label">Nome completo</label>
									<input type="text" class="form-control" id="firstName"
										placeholder="Nome completo" value="" required
										th:field="*{nome}">
									<div class="invalid-feedback">Valid first name is
										required.</div>
								</div>

								<div class="col-12">
									<label for="username" class="form-label">Username</label>
									<div class="input-group has-validation">
										<input type="text" class="form-control" id="username"
											placeholder="Username" required th:field="*{username}">
										<div class="invalid-feedback">Your username is required.
										</div>
									</div>
								</div>

								<div class="col-12">
									<label for="email" class="form-label">Email</label> <input
										type="email" class="form-control" id="email"
										placeholder="you@example.com" th:field="*{email}">
									<div class="invalid-feedback">Please enter a valid email
										address for shipping updates.</div>
								</div>

								<div class="col-12">
									<label for="address" class="form-label">Potencia
										Chuveiro <span class="text-muted">(W)</span>
									</label> <input type="number" class="form-control" id="address"
										placeholder="2500" required th:field="*{potencia}">
									<div class="invalid-feedback">Please enter your shipping
										address.</div>
								</div>

								<div class="col-12">
									<label for="address2" class="form-label">Numero
										Telefone <span class="text-muted">(Optional)</span>
									</label> <input type="number" class="form-control" id="address2"
										placeholder="(XX) YYYY-ZZZZ" th:field="*{celular}">
								</div>

							</div>

							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									id="definir-meta" th:field="*{comparar}"> <label
									class="form-check-label" for="definir-meta">Desejo
									estabelecer uma meta de tempo de uso e comparar com o tempo
									real.</label>
							</div>

							<div class="col-12">
								<label for="meta-tempo" class="form-label">Meta Tempo
									Uso <span class="text-muted">(Minutos)</span>
								</label> <input type="number" class="form-control" id="meta-tempo"
									placeholder="15" th:field="*{meta}" disabled="disabled">
							</div>

							<hr class="my-4">

							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									id="notificao-celular" th:field="*{notificacaoCelular}">
								<label class="form-check-label" for="notificao-celular">Desejo
									receber notificações sobre o consumo por mensagem (Telegram).</label>
							</div>

							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									id="notificacao-email" th:field="*{notificacaoEmail}">
								<label class="form-check-label" for="notificacao-email">Desejo
									receber por e-mail relatorios mensais de consumo.</label>
							</div>

							<hr class="my-4">

							<button class="w-100 btn btn-primary btn-lg" type="submit">
								Salvar <span data-feather="save"></span>
							</button>
						</form>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script th:inline="javascript"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>